[Settings]
project_root = ~/path/to/logged_project
default_language = ruby

[LanguageMappings]

[ExcludePatterns]
pattern1 = .keep
pattern2 = .gitkeep
pattern3 = .DS_Store
pattern4 = node_modules
pattern5 = .log
